<div class="col-12">
    <div class="mb-3 field">
        <button
            class="btn btn-primary"
            type="button"
            data-action="live#action"
            data-live-action-param="testConnection"
        >
            {{ 'commerce_weavers_sylius_tpay.admin.gateway_configuration.test_connection'|trans }}
        </button>
    </div>
</div>
