{% set form = get_hookable_context().form %}

<div class="col-md-6" {{ attributes }}>
    {{ form_row(form.gatewayConfig.config.tpay_channel_id, { attr: { 'data-gateway-config-channel-id': null } }) }}
</div>
