{% set order = get_hookable_context().resource %}
{% set gatewayConfig = get_hookable_context().method.gatewayConfig %}
{% set form = get_hookable_context().parent_form %}

<div data-payment-details="tpay_apple_pay">
    {% include '@CommerceWeaversSyliusTpayPlugin/shop/partial/apple_pay_button.html.twig' with { order, form, gatewayConfig } %}
</div>
